mixin page(lang, title)
  doctype html
  html(lang="#{lang}").page
    head.page__head
      title #{title}
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="icon" href="//vstarkov.com/favicon.ico")
      link(rel="stylesheet" href="index.css")
    body.page__body
      .grid.grid_fixed
        .grid__row.text.text_align_right
          .grid__cell-md.grid__cell-md_size_8.grid__cell-md_offset_2
            +links(lang)
        .grid__row
          .grid__cell-md.grid__cell-md_size_8.grid__cell-md_offset_2.raw-text
            block

      +gauges('54445043e32bb45ca5004766')
